@media (max-width: 900px) {
    body {
        background: #01a1dd;
        margin:0px;
        padding:0px;
    }
    .container {
        max-width:100%;
        width:100%;
        margin-top:0px;
    }
    .welcome-description {
        max-width:100%;
    }
    .welcome-time {
        font-weight:bold;
        color: #01a1dd;
        font-size:1.1em;
        display:block;
    }
    .location-switcher {
        padding-left:20px;
        padding-right:20px;
        padding-top:0px;
        max-width: 100%;
        width: 80%;
    }
    .location-switcher li a {
        display: block;
        margin-right: 0px;
        margin-top: 20px;
        padding: 20px;
    }
    .closed-msg {
        max-width:100%;
    }
    .virtual-only-notice {
        display:block;
        color:#dd0101;
        margin:auto;
        text-align:center;
        font-weight:bold;
        padding-top:20px;
    }
    .legal-logos {
        display:block;
    }
    .legal-logos img {
        display:block;
    }
    .locations-list li {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .location-list-item {
        padding-bottom: 50px;
    }
    .locations-list .button3 {
        margin-left: 0;
    }
    .center-address {
        border-bottom: 0px;
        text-align: left;
    }
    .locations-list li {
        padding-bottom: 50px;
        border-bottom: 4px solid #dbf5ff;
        max-width: 90%;
        margin: 0 auto;
        padding-top: 50px;
    }
    .locations-list .button3 {
        height: auto;
    }
}