@media (max-width: 900px) {
    body {
        background: #01a1dd;
        margin:0px;
        padding:0px;
    }
    .container {
        max-width:100%;
        width:100%;
        margin-top:0px;
    }
    .welcome-time {
        font-weight:bold;
        color: #01a1dd;
        font-size:1.1em;
        display:block;
    }
    .location-switcher {
        padding-left:20px;
        padding-right:20px;
        padding-top:0px;
    }
    .location-switcher li a {
        display: block;
        margin-right: 0px;
        margin-top: 20px;
        padding: 20px;
    }
    .virtual-only-notice {
        display:block;
        color:#dd0101;
        margin:auto;
        text-align:center;
        font-weight:bold;
        padding-top:20px;
    }
    .legal-logos {
        display:block;
    }
    .legal-logos img {
        display:block;
    }
}